<html>
  <head>
    <title>Google Maps for Corinna's Treasure Hunts</title>
    <style type="text/css">
      body { font-family: Sans-serif; }
      #wrapper {
      width: 430px;
      border : 1px solid #979797;
      }
      #results {
      margin-top : 30px;
      margin-bottom : 1px;
      margin-left : 2px;
      margin-right : 2px;
      }
      #results .gmls-ads-box-234x60_as .gmls_inline_ads {
      left : 83px;
      }
      #results .gmls-app,
      #map .gmls-app {
      border : none;
      }
      #map .gmls {
      width : 100%;
      }
      #map {
      height : 300px;
      border-bottom : 1px solid #979797;
      }
    </style>
    <%= GMap.header(:local_search => true) %>
    <%= @map.to_html %>
  </head>
  <body style="margin:0px; padding:0px;">
    <div id="wrapper">
      <%= @map.div %>
      <div id="results"></div>
    </div>
  </body>
</html>
