.ubersearch .result {
  border: none;
/*  border-top: 1px solid #ccc;*/
}
#delete {
	background-color: #3b5998;
  color: white;
}
#delete:hover {
	text-decoration: underline;
}
/*#list-odd {
  background-color: #F0F0FF;
}*/
#list-even {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.ubersearch .result .info {
  width: auto;
}
.ubersearch .result .info dd {
  width: auto;
}
#show-desc{
  padding-left: 10px;
}
#show-title{
  padding-left: 10px;
  padding-top: 5px;
}