.ubersearch .result {
  border: none;
  border-bottom: 1px solid #ccc;
}
#admin {
	background-color: #eceff6;
  color: #3b5998;
}
#admin:hover {
  background: #3b5998;
  color: white; }
/*#admin:hover {
	text-decoration: underline;
}*/
/*#list-odd {
  background-color: #F0F0FF;
}*/
/*#list-even {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}*/
.ubersearch .result .info {
  width: auto;
}
.ubersearch .result .info dd {
  width: auto;
}
#show-desc{
  padding-left: 10px;
}
#show-title{
  padding-left: 10px;
  padding-top: 5px;
}