<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Google AJAX Search API Sample</title>
    <script src="http://www.google.com/jsapi?key=ABQIAAAA1XbMiDxx_BTCY2_FkPh06RRaGTYH6UMl8mADNa0YKuWNNa8VNxQEerTAUcfkyrr6OwBovxn7TDAH5Q" type="text/javascript"></script>
    <script type="text/javascript">
google.load('search', '1');

function handler(result){

    field = document.getElementById("answer");
    field.value = decodeURI(result.url);

    sumbit = document.getElementById('submit');
    submit.setStyle('display','inline');
}
function OnLoad() {
    // Create a search control
    var searchControl = new google.search.SearchControl();
    var options = new google.search.SearcherOptions();
    options.setExpandMode(google.search.SearchControl.EXPAND_MODE_OPEN);

    video_search = new google.search.VideoSearch();
    searchControl.addSearcher(video_search,options);

    searchControl.setOnKeepCallback(this,handler,"Choose this video");
    // tell the searcher to draw itself and tell it where to attach
    searchControl.draw(document.getElementById("content"));
}

google.setOnLoadCallback(OnLoad);

    </script>
    <script type="text/javascript" language="JavaScript">
      function nameempty()
{
    if ( document.getElementById("answer").value == '' )
    {
        alert('No name was entered!')
        return false;
    }
}
    </script>
  </head>
  <body style="font-family: Arial;border: 0 none;">
    <div id="content">Loading...</div>
    <form id="myform" name="myform" action="http://apps.facebook.com/corinna/servers/<%=@server_id%>/treasure_hunts/<%=@hunt_id%>/answer?type=video" method="post" target="_top"  onSubmit="return nameempty();" >
    <input type="hidden" id="answer" name="answer"/>
    <input id="submit" type="submit" value="Submit!" style="position:fixed;top:0;right:0;"></input>
  </form>
</body>
</html>
