<h2>Submit an falsehint</h2>

<% form_tag :action => :falsehint, :id => @hunt.id do %>
  <%= text_area_tag :falsehint, nil, :size => "55x20" %>
  <%= text_area_tag :turn, nil, :size => "20x20" %>
  <%= submit_tag 'Submit' %>
<% end %>
