<h1>New Treasure Hunt</h1>

<% form_for @hunt, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.file_field :xml %>
    <%= f.submit 'Create!' %>
  </p>
<% end %>

<%= link_to 'Back', treasure_hunts_path %>
