<h1>New Treasure Hunt</h1>

<% facebook_form_for @hunt do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_area :xml %>
  </p>
  <p>
    <%= f.buttons 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', treasure_hunts_path %>
