<div class="ubersearch">
  <div class="clearfix">
    <div class="result clearfix">
      <div class="info">
	<dl class="clearfix">
	  <dt>Title:</dt><br />
	  <dd class="result_name fn" id="show-title"><%=h @hunt.title %></dd>
	
	</dl>
      </div>
    <%= render :partial => "sidebar" %>
    </div>
    <div class="result clearfix">
      <div class="info">
	<dl class="clearfix">
	  <dt>Description:</dt><br />
	  <dd id="show-desc"><%= prettyprint_blockinline(@hunt.xml, 'description') %></dd>
		<!-- <fb:share-button class="url" href="http://apps.facebook.com/example" /> -->
	</dl>
      </div>
    </div>
  </div>
</div>

