<p>
  <b>Title:</b>
  <%=h @hunt.title %>
</p>

<p>
  <b>Description:</b>
  <%=h prettyprint_blockinline(@hunt.xml, 'description') %>
</p>

<!-- link_to 'Edit', edit_treasure_hunt_path(@product) %> | -->
<%= link_to 'Back', treasure_hunts_path %>
