<html>
 <head>
 </head>
 <body>
        <% form_tag :action => :search , :hunt => @hunt_id , :server => @server_id do %>
        <%= text_field_tag :image ,nil, { :class => "inputtext" } %>
        <%= submit_tag 'Cerca', :class => "inputsubmit" %>
        <% end %>
 </body>
