<html>
  <head>
    <style type="text/css">
      body, table {
          font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
          font-size: 11px;
      }
      img {
          width:120px;
          height:auto;
      }
      #fixed {
          position: fixed;
          top: 0;
          background-color: white;
          height: 15px;
          width: 100%;
      }
      #content {
          border-top: 15px solid white;
      }
      input[type="text"] {
          border: 1px solid #BCCDF0;
          width: 226px;
      }
    </style>
  </head>
  <body>
    <%= yield :layout %>
  </body>
</html>